<!-- basically for the flash messages -->
<% if (successAdded && successAdded.length > 0) { %>
<div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
  <%= successAdded %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if (successDeleted && successDeleted.length > 0) { %>
<div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
  <%= successDeleted %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>


<!-- If listing is deleted and user is still searching for it -->

<% if (error && error.length > 0) { %>
<div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>